@using SCA.Areas.Monitoring.Models
@model SCA.Areas.Monitoring.Models.CompanyModel
<script>
    function onOwnerData() {
        return {
            text: $("#OwnerAutoComplete").val()
        };
    }
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SiteModel</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="row">
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-1">
                @Html.Kendo().TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-4 col-md-offset-4">
                @(Html.Kendo().Grid<SiteModel>()
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Id).Hidden(true);
                        columns.Bound(c => c).Filterable(false).Sortable(false).Title("<div><input type='checkbox'></div>").Width(50);
                        //columns.Bound(c => c.CreateDateAsString).Title("Дата создания").Width(150);
                        columns.Bound(c => c.Name).Title("Название").Width(150);
                        columns.Bound(c => c.Company).Title("Компания").Width(120);
                        columns.Bound(c => c.PagesCount).Title("К-во страниц").Width(120);
                        //columns.Bound(c => c.Name).Title("Действия").Width(120); ;

                    })
                    .Filterable()
                    .ColumnMenu(c => c.Columns(false))
                    .Resizable(resizable => resizable.Columns(true))
                    .Reorderable(reorderable => reorderable.Columns(true))
                    .Scrollable()
                    .Sortable()
                    .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5))

                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("List_Read", "Site"))
                    )
                )
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.Kendo().TextBoxFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @(Html.Kendo().DropDownList()
                      .Name("StatusId")
                      .DataTextField("Name")
                      .DataValueField("Id")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetCompanyStatus", "Companies");
                          });
                      })
                )
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @(Html.Kendo().DropDownList()
                      .Name("SizeId")
                      .DataTextField("Name")
                      .DataValueField("Id")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetCompanySize", "Companies");
                          });
                      })
                )
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.RelationType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @(Html.Kendo().DropDownList()
                      .Name("SizeId")
                      .DataTextField("Name")
                      .DataValueField("Id")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetCompanyRelation", "Companies");
                          });
                      })
                )
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Sector, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @(Html.Kendo().DropDownList()
                      .Name("SectorId")
                      .DataTextField("Name")
                      .DataValueField("Id")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetCompanySector", "Companies");
                          });
                      })
                )
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.OwnerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @(Html.Kendo().AutoComplete()
                      .Name("OwnerAutoComplete")
                      .DataTextField("Name")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetOwnersContains", "Companies")
                              .Data("onOwnerData");
                          })
                              .ServerFiltering(true);
                      })
                )
            </div>
        </div>

        <<div class="row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to List", "List")
</div>