@model SCA.Areas.Monitoring.Models.SitePageModel
<script>
    function SavePage() {
        var id = $("#Id").val();
        $.ajax({
            url: "/Monitoring/SitePages/Save",
            method: "post",
            data: JSON.stringify({
                Id: $("#Id").val(),
                SiteId: $("#SiteId").val(),
                PageName: $("#PageName").val(),
                Tag: $("#Tag").val(),
                RelatedUrl: $("#RelatedUrl").val(),
    }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
        });
    }
</script>
@using (Html.BeginForm("Save", "SitePages", FormMethod.Post))
{
    @Html.Kendo().TextBoxFor(model => model.Id).HtmlAttributes(new { @style = "display: none" })
    @Html.Kendo().TextBoxFor(model => model.SiteId).HtmlAttributes(new { @style = "display: none" })
<div class="modal-content">
    <div class="modal-body">
        <table style="width: 100%">
            <tr>
                <td>
                    @Html.Label("Название")
                </td>
                <td>
                    @Html.Kendo().TextBoxFor(model => model.PageName)
                    @Html.ValidationMessageFor(model => model.PageName, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Теги (через запятую)")
                </td>
                <td>
                    @Html.Kendo().TextBoxFor(model => model.Tag)
                    @Html.ValidationMessageFor(model => model.Tag, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Относительный URL")
                </td>
                <td>
                    @Html.Kendo().TextBoxFor(model => model.RelatedUrl)
                    @Html.ValidationMessageFor(model => model.RelatedUrl, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" onclick="SavePage();" value="Save" name="Save" class="btn btn-default close" data-dismiss="modal"/>
                    @*<input type="submit" value="Create" class="btn btn-default"/>*@
                    @* onclick="location.href = '@Url.Action("Add", "SitePages"); return false;'"/>*@
                    @*<a href="location.href='@Url.Action("Add", "SitePages"); return false;'"><i>Create</i></a>*@
                    @*@Html.ActionLink("Create", "Save", "SitePages", new { @class = "btn btn-sm btn-success" })*@
                    @*<a href="@Url.Action("Add","SitePages")" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Добавить</a>*@
                </td>
            </tr>
        </table>
    </div>

</div>
}